* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
}

#main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

h1 {
  font-size: 5rem;
  color: #333;
  transition: transform 0.2s ease;
}

#buttons {
  gap: 20px;
  display: flex;
}

#button1,
#button2 {
  border: none;
  height: 3rem;
  width: 3.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

#button1 {
  background-color: #28a745;
}

#button2 {
  background-color: #dc3545;
}

#button1:hover,
#button2:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
